@font-face
{
font-family: 'BallparkWeiner';
src: url('polices/ballpark.eot');
src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
url('polices/ballpark.woff') format('woff'),
url('polices/ballpark.ttf') format('truetype'),
url('polices/ballpark.svg#BallparkWeiner') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: 'Dayrom';
src: url('polices/dayrom.eot');
src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
url('polices/dayrom.woff') format('woff'),
url('polices/dayrom.ttf') format('truetype'),
url('polices/dayrom.svg#Dayrom') format('svg');
font-weight: normal;
font-style: normal;
}

body
{
background: url('images/slider-developpeur-web.jpeg');
font-family: 'Trebuchet MS', Arial, sans-serif;
background-size: contain;
background-attachment: fixed;
margin: 0;
}
#bloc_page
{
color : white;
margin: auto;
}
section{
	background-color: white;
	background-size: cover;
	color: black;
	padding: 70px 0px 0px 0px;
	display: block;
	text-align: center;
}
sectionh1, footer h1, nav a
{
font-family: Dayrom, serif;
font-weight: normal;
text-transform: uppercase;
}
section.grey {
	background-color: #EBEBEB;
	background-size: cover;
	text-align: center;
	color: black;
}
#titre_principal
{
display: inline-block;
}
#prenom
{
	font-size: 3em;
}
#presentation
{
	display: block;
	text-align: center;
}
#titre_principal h1
{
font-family: Arial;	
}
#titre_principal h2
{
font-family: Dayrom;	
}
header
{
	text-align: center;
	background: url('images/separateur.png') repeat-x bottom;
}
header h1
{
	
}
#logo, header h1
{
	
}
header h2
{
	
}
nav ul
{
	list-style-type: none;
	margin-right: 20px;
}
nav ul:hover {
  color: green;
}
nav
{
	display: inline-block;
	text-align: right;
	width: 740px;
	background: rgba(0, 0, 0, 0.3);
	padding: 15px 0px;
	width: 100%;
	font-family: Arial;
	
}
nav li 
{
	display: inline-block;
	margin-left: 20px;
}
nav a
{
	font-size: 1.3em;
	font-family: Arial;
}
#banniere_image
{
	display: inline;
	margin-left: 400px;
	width: 170px;
	margin-bottom: 300px;
}
#logo_java
{
	width: 200px;
}
#logo_python
{
	width: 200px;
}
#logo_Sql
{
	width: 200px;
}
#logo_OS
{
	width: 200px;
}
#logo_devweb
{
	width: 200px;
}
#logo_instagram
{
	width: 20px;
}
#logo_linkedin
{
	width: 20px;
}
#logo_scout
{
	width: 20px;
}
article
{
	display: inline-block;
	margin-left: 20px;
	width: 550px;
	height: 500px;
	vertical-align: top;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
	border-radius: 15px;
}
aside
{
	vertical-align: top;
	font-family: Dayrom;
	display: inline-block;
	position: relative;
	width: 250px;
	height: 500px;
	background-color: gray;
	border-radius: 5px 5px 5px 5px;
	color: black;
}
aside img
{
	width: 200px;
	margin-top: 20px;
}
footer
{
	display: block;
	background-color: #292929;
	background-size: cover;
	color: white;
}
section div
{
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}
#DEV
{
	display: inline-block;
	margin-left: 20px;
	width: 450px;
	height: 500px;
	vertical-align: top;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
	border-radius: 15px;
	margin-bottom: 50px;
}
#p1
{
	text-align: justify;
	margin: 10px;
}
p
{
	text-align: justify;
	margin: 10px;
}
#mes_amis
{
box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
width: 20%;
border-radius: 15px;
}
section.grey div
{
	background-color: white;
	padding: 25px 40px 0px;
	display: align-center;
	height: 440px;
	width: 550px;
	vertical-align: top;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
	border-radius: 15px;
	margin-bottom: 50px;
}
section.grey img
{
	display: inline;
	width: 100px
}
section.projets
{
	background-size: cover;
	text-align: center;
	color: black;
}
section.projets div
{
	display: block;
	margin: 0 auto;
	width: 550px;
	vertical-align: top;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
	border-radius: 15px;
	#text-align: justify;
	margin-top: 80px;
	background-color: #EBEBEB;
}
section.projets img
{
	margin-top: 40px;
	width: 400px;
	margin-bottom: 40px;
}
#bas_de_page
{
	text-align: center;
}
footer h1
{
	font-size: 1.1em;
}
.bouton{
	display: block;
	background-color: #719fee;
	border-radius: 10px;
	border: 4px double #1f69ec;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 200px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.bouton:hover{
	background-color: #ffffff;
	border: 2px solid #1f69ec;
	#box-shadow: 10px 5px 5px #719fee;
	color: #1f69ec;
	text-align: center;
	font-size: 22px;
}
